<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>IMDB API Webapp - Treehouse Demo</title>
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">
  <link rel="icon" href="http://d15dxvojnvxp1x.cloudfront.net/assets/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
    
    <div id="w">
    <h1>IMDB Mini-Webapp</h1>
    <!-- logo icon http://arrioch.deviantart.com/art/Blawb-PSD-245341011 -->
    
    <p class="desc">Select a TV show to display some related information.</p>
    
    <nav id="tvnav">
      <ul class="clearfix">
        <li><a href="#" id="tt0367279">Arrested Development</a></li>
        <li><a href="#" id="tt0386676">The Office</a></li>
        <li><a href="#" id="tt0121955">South Park</a></li>
        <li><a href="#" id="tt0098904">Seinfeld</a></li>
        <li><a href="#" id="tt1826940">New Girl</a></li>
      </ul>
    </nav>
    
    <div id="imdbcontents" class="clearfix"></div>
  </div>
    <body>

        